# Emulated Router Connection Settings

# Global credentials (all routers)
ROUTER_USERNAME=cisco
ROUTER_PASSWORD=cisco

# Router R15
ROUTER_R15_HOST=172.16.39.102
ROUTER_R15_PORT=32783

# Router R16
ROUTER_R16_HOST=172.16.39.102
ROUTER_R16_PORT=32773 